<form method="post" action="/">
  Name:<input type="text" name="name"></input>
  <br>
  Breed:<input type="text" name="breed"></input>
  Age:<input type="text" name="age"></input>
  <input type="submit" value="submit"></input>
</form>
